*{
margin: 0;
padding: 0;
/* text-decoration: none; */
list-style: none;
}

.container{
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
}

.main{
    height: 52px;
    display: block;
    margin-top: 15px;
}
.navbar_img{
    display: flex;
    align-items: flex-start;
    gap: 10px;
   
     
     
    
   
}
.img_select{

    position: relative;
    
}


.img_linkedln{
    width: 37px;
    height: 37px;
}
.navbar_input{
    /* position: absolute; */
    width: 100px;
    height: 34px;
    border-radius: 8px;
    padding: 0 40px;
    background-color: #edf3f8;
    border-color: #edf3f800;

    
}
.img_search{

position: relative;
display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    margin: 8px 12px;
    margin-top: -29px;

}

.navbar_input2{
    display: flex;
    margin-left: 55px;
    div{
        min-height: 52px;
        min-width: 80px;
        align-items: center;
        i{
           
            display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 21px;
        }
        p{
            
            display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14.1px;
    line-height: 1.33333;
    color: rgb(0 0 0 / 60%);
        }
    }
}
.icon_house{
    /* width: 15px; */
    border: 1px solid rgb(93, 93, 93);
}
/* .fa-regular{
  position: relative;
} */
.profil_img{
    width:23px ;
    height:23px ;
    border-radius: 30px;
    margin-left: 25px;
    display: flow;
    
   
}
.stick{
    height: 44px;
    border: 1px solid rgb(169, 165, 165);
    display: inline-block;
  
}

.text{
    width: 118px;
    display: block;
    font-size: 13px;
}

.box_icon{
    position: relative;
    span{
        width: 8px;
        height: 8px;
        border-radius: 23px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: -9px;
        right: 19px;
        border: 5px solid red;
    }
}
select{
    margin-left: 13px;
}
 

.section2{
    width: 100%;
    display: none;
    border: 1px solid black;
    
    border-color: white; 
    overflow-y: scroll;
     
    box-shadow: -2px 1px 7px #06060654;
    border-radius: 9px;
    padding: 13px 13px; 

}

.navbar_input:focus ~ .section2 {
   display: block;
}

input:focus{
    width: 300px;
}



.content{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.main_img{
    display: flex;
}
.section2_img{
    width: 50px;
    height: 50px;
    display: flex;
    /* width: 56%; */
    justify-content: center;
    justify-items: center;
    margin: 4px auto;
}



.search_section{
    display: flex;
    justify-content: flex-start;
    align-items: normal;
    padding: 9px 0px;
    /* border: 1px solid gray; */
    gap: 16px;
    font-weight: bold;
    img{
        width: 18px;
    }
    p{
        font-size: 15px;
        font-weight: bold;

    }

    
}

.search_section:hover{
   
    background-color: rgb(217, 208, 208);
}

.text_a{
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    color: black;
    transition:  all ;
    
}
.text_a:hover{
    background-color: rgb(217, 208, 208);
}

.style_hover{
  margin-bottom: 13px;
    transition: all;
    p{
        text-align: center;
    }
}
.style_hover:hover{
    background-color: rgb(217, 208, 208);
}